[Unit]
Description=starts chromium with HA24
After=multi-user.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=simple
Restart=always
RestartSec=3
User=hrfo
ExecStart=/usr/bin/npx nodemon /home/hrfo/HA24/app.js

[Install]
WantedBy=multi-user.target