html {
  height: 100%;
  overflow: hidden;
}
body {
  background-image: url('./resources/backgrounds/racetrack.jpeg');
  /* backdrop-filter: blur(3px); */
  padding: 5px;
  margin: 0%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.menu-bar{
  padding: 0px;
  margin: 0px;
  font-size: 52px;
  font-weight: 300;
}
.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  grid-template-columns: 25% 25% 25% 25%;
  background-color: rgba(175, 175, 175, 0);
  color: rgba(255, 255, 255, 0);
  width: 100%;
}
.grid-item {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.0);
  border-radius: 25px;
  text-align: center;
  backdrop-filter: blur(8px);
}
.grid-title {
  font-size: 30px;
  text-align: left;
}
.chart {
  background-color: rgba(255, 255, 255, 0.0);
}
.bullet {
  text-align: left;
}