html {
  height: 100%;
  overflow: hidden;
}
@font-face {
  font-family: Futura;
  src: url(./resources/fonts/futura/Futura_Book_font.ttf);
}
body {
  padding: 0%;
  margin: 0%;
  color: white;
  font-family: Futura;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.background_img {
  height: 110%;
  position: absolute;
  background-position: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
}
.grid-item {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.0);
  border-radius: 25px;
  text-align: center;
  backdrop-filter: blur(8px);
  font-size: 24px;
}
.grid-title {
  font-size: 48px;
  text-align: left;
}
.bullet {
  text-align: left;
}